<div id="titleContainer" class="title">
  <div id="titletext"    class="titlearea titleleft"></div>
  <div id="titlemiddle"  class="titlearea titlemiddle"></div>
  <div id="titlebutton"  class="titlearea titleright">
    <div id="queryButton"      class="button query debug"></div>
    <div id="reloadButton"     class="button reload debug"></div>
    <div id="fullscreenButton" class="button fullscreen"></div>
  </div>
</div>
<div id="webletmain" class="webletmain"><div id="buttonFrame"><div id="buttonContainer"></div></div><div id="contentContainer"></div></div>