<input type="hidden" id="htmlcomposeidInput"/>
<div class="inputarea two">
  <div class="inputgroup">
    <div class=inputsingle><span class="label" id="nameLabel"></span><input id="nameInput"/></div>
    <div class=inputsingle><span class="label" id="templateLabel"></span><input id="templateInput"/></div>
    <div class=inputsingle><span>&nbsp;</span><span>&nbsp;</span></div>
  </div><div class="inputgroup">
    <div class=inputsingle><span class="label" id="label_deLabel"></span><input id="label_deInput"/></div>
    <div class=inputsingle><span class="label" id="label_enLabel"></span><input id="label_enInput"/></div>
    <div class=inputsingle><span class="label" id="customLabel"></span><input id="customInput" type="checkbox"/></div>
   </div>
</div>
<div class="inputarea nomobile">
  <div class="inputgroup">
    <div class=inputsingle>
      <span><span>&nbsp;</span><button id="exportButton">#mne_lang#Exportieren</button></span><span>&nbsp;</span><span class="label">#mne_lang#Mysql</span> <input type="checkbox" id="mysqlInput" value='1'/>
   </div>
  </div>
</div>
<div id="modifyinfo" class="inputarea resizeit nomobile">
  <div class="inputgroup">
    <div class=inputsingle><span id="createdateLabel"></span> <span id="createdateOutput"></span><span id="createuserLabel"></span> <span id="createuserOutput"></span></div>
    <div class=inputsingle><span id="modifydateLabel"></span> <span id="modifydateOutput"></span><span id="modifyuserLabel"></span> <span id="modifyuserOutput"></span></div>
  </div>
</div>

