<input type="hidden" id="queryidInput" />
<div class="inputarea">
  <div class="inputgroup">
            <div class=inputsingle><span class="label" id="joindefidLabel"></span><input id="joindefidInput" /></div>
            <div class=inputsingle><span class="label" id="fcolsLabel"></span><input id="fcolsInput" /></div>
            <div class=inputsingle><span class="label" id="tschemaLabel"></span><input id="tschemaInput" /></div>
            <div class=inputsingle><span class="label" id="ttabLabel"></span><input id="ttabInput" /></div>
            <div class=inputsingle><span class="label" id="tcolsLabel"></span><input id="tcolsInput" /></div>
            <div class=inputsingle><span class="label" id="opLabel"></span><input id="opInput" /></div>
            <div class=inputsingle><span class="label" id="typLabel"></span><select  id="typInput" ></select></div>
   </div>
</div>
