div.weblet-dbadmin-command-detail #contentContainer .inputsingle {
	border: 0;
}

div.weblet-dbadmin-command-detail #contentContainer .ele-wrapper {
	flex-grow: 1;
}

div.weblet-dbadmin-command-detail #contentContainer #commandInput {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;

	max-width: none;
	max-height: none;
}