.weblet-allg-file-show object {
	min-height: 80vh;
	min-width: 40vw;
	max-height: 80vh;
	max-width: 40vw;

	object-fit: contain;
}

.popupisresize.popupdoresize .weblet-allg-file-show div {
	display: block;
	z-index: 10;
	background: #fff8;
}

.popupisresize .weblet-allg-file-show div {
	display: none;
} 

.fullscreen .weblet-allg-file-show object,
.popupisresize .weblet-allg-file-show object {
	min-height: unset;
	min-width: unset;
	max-height: unset;
	max-width: unset;
}

.popupisresize .weblet-allg-file-show, 
.popupisresize .weblet-allg-file-show object,
.popupisresize .weblet-allg-file-show div,
.fullscreen .weblet-allg-file-show, 
.fullscreen .weblet-allg-file-show object,
.fullscreen .weblet-allg-file-show div {
	position: absolute;
    width: 100%;
    height: 100%;
} 