/* tabellen definitionen */

table{
	padding: 0px;
	margin: 0px;
    border: 0px none #ffffff;
	border-collapse: collapse;
	border-spacing: 0px;
}
table.right {
	padding: 0px;
	margin:  0px;
	margin-left: auto;
	border-collapse: collapse;
	border-spacing: 0px;
}
table.left {
	padding: 0px;
	margin:  0px;
	margin-right: auto;
	border-collapse: collapse;
	border-spacing: 0px;
}
table.center{
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
}

thead {
	background: linear-gradient(to bottom, var(--background), var(--lightcolor1));
	white-space: nowrap;
}
thead td.active {
	font-weight: bold;
	background: linear-gradient(to bottom, var(--background), var(--darkcolor1));
}

table.border, table.border > tr > td, table.border > thead > tr > th, table.border > tbody > tr > td {
    border: var(--border);
	border-collapse: collapse;
}

table.padding > tr > td, table.padding > thead > tr > th, table.padding > tbody > tr > td {
    padding: var(--margin);
}

table.relative > tr > td, table.relative > thead > tr > th, table.relative > tbody > tr > td {
    position: relative;
}

table.top > tbody > tr > td {
    vertical-align: top;
    line-height: var(--tablineheight_normal);
}

td,th {
	white-space: nowrap;
	empty-cells: show;
	height: var(--tablineheight_normal);
}

th {
	text-align: left;
}

tr.center td, tr.center th, td.center, th.center {
	text-align: center;
}

tr.left td, tr.left th, td.left, th.left {
	text-align: left;
}

tr.right td, tr.right th, td.right, th.right {
	text-align: right;
}

tr.justify td, tr.justify th, td.justify, th.justify {
	text-align: justify;
}

tr.active0 td, tr.active0 input, tr.active0 textarea, tr.active0 select {
	color: #808080;
}
tr.active1 td {
}

tr.enable0 td {
	color: var(--table_enablecolor0)
}

tr.enable1  td {
	color: var(--table_enablecolor1)
}

tr.ok0  td {
	color: var(--table_enablecolor1)
}

tr.ok1 td {
	color: var(--table_enablecolor0)
}

tr.sum1 {
}

tr.sum2 {
    font-weight: bold;
}
tr.sum3 {
    font-weight: bold;
    background-color: #e0e0e0;
}

tr.sum2 span[contenteditable="true"], tr.sum3 span[contenteditable="true"] {
	pointer-events: none;
	box-shadow: none;
    background: none;
}
tr.sum2 span[contenteditable="true"]:empty, tr.sum3 span[contenteditable="true"]:empty, tr.sum2 .contain-select, tr.sum3 .contain-select {
	display: none;
}

tr.negativ {
    background-color : var(--modifywrongbackgroundcolor);
}
tr.positiv {
}

tr.day1 td {
    color: #0000C0;
}
tr.day7 td {
    color: #8080ff;
}

tbody td.selectlist {
    border-right-width: 3px;
}

td.padding, th.padding {
	padding: var(--margin);
}
td.paddingb, th.paddingb {
	padding-bottom: var(--margin);
}
td.paddingt, th.paddingt {
	padding-top: var(--margin);
}
td.paddingl, th.paddingl {
	padding-left: var(--margin);
}
td.paddingr, th.paddingr {
	padding-right: var(--margin);
}

td.button {
    border: 0px solid;
}
td.buttonfirst {
    padding-top: 0px;
}
td.buttonlast {
}

table.fixheight td, table.fixheight th {
    height: 20px;
    padding-top: 0px;
    padding-bottom : 0px;
}

td.height1, td.height1:first-child {
    height : 16px;
    overflow : hidden;
}

td.height2, td.height2:first-child {
    height : 16px;
    overflow : hidden;
}

td.height3, td.height3:first-child {
    height : 16px;
    overflow : hidden;
}

div.weblet .inputsingle table {
	line-height: initial;
	margin-top: var(--dmargin);
}
