.modifyno {
}

.label.modifyok,
.output.modifyok,
.input.modifyok,
input[type="button"].modifyok,
input.modifyok,
select.modifyok,
[contenteditable="true"].modifyok,
.modifyok > span[contenteditable="true"],
.modifyok > span.output,
.modifyok > span.label,
.modifyok > input,
.modifyok > label:after,
.modifyok > select,
.modifyok.editor .mne-rte-buttonframe {
    background-color: var(--modifyokbackgroundcolor);
    color: var(--modifyokcolor);
}
.label.modifywrong,
.output.modifywrong,
.input.modifywrong,
input.modifywrong,
select.modifywrong,
[contenteditable="true"].modifywrong,
.modifywrong > [contenteditable="true"],
.modifywrong > span.output,
.modifywrong > span.label,
.modifywrong > input,
.modifywrong > label:after,
.modifywrong > select,
.modifywrong.editor .mne-rte-buttonframe {
    background-color: var(--modifywrongbackgroundcolor);
    color: var(--modifywrongcolor);
}

.label.modifywarning,
.output.modifywarning,
input.modifywarning,
select.modifywarning,
[contenteditable="true"].modifywanring,
.modifywarning > [contenteditable="true"],
.modifywarning > span.output,
.modifywarning > span.label,
.modifywarning > input,
.modifywarning > label:after,
.modifywarning > select,
.modifywarning.editor .mne-rte-buttonframe {
    background-color: var(--modifywarningbackgroundcolor);
    color: var(--modifywarningcolor);
}

.label.modifywait,
.output.modifywait,
input.modifywait,
select.modifywait,
[contenteditable="true"].modifywait,
.modifywait > [contenteditable="true"].modifywait,
.modifywait > span.output,
.modifywait > span.label,
.modifywait > input,
.modifywait > label:after,
.modifywait > select,
.modifywait.editor .mne-rte-buttonframe {
    background-color: var(--modifywaitbackgroundcolor);
    color: var(--modifywaitcolor);
 
}

tr.modifyok > td {
    background: linear-gradient(to bottom, var(--modifyokbackgroundcolor), transparent 20%, transparent);
}

span.hint {
	display: none;
}

[contenteditable="true"]:empty::after {
    content: attr(placeholder);
    color: var(--placeholdercolor);
}

.modifywrong:hover > input + span.hint, .modifywrong > input:focus + span.hint, .modifywrong > [contenteditable="true"]:hover + span.hint, .modifywrong > [contenteditable="true"]:focus + span.hint {
    position: absolute;
    display: inline-block;
    left: 20px;
    top: calc(var(--lineheight_normal) * 0.8);
    border: var(--border);
    border-width: 2px;
    box-shadow: 0px 0px 12px;
    padding: var(--margin);
    line-height: initial;
    background: var(--background);
    border-radius: calc(2*var(--borderradius));
    padding-top: 0px;
    padding-bottom: 0px;
    white-space: nowrap;
    z-index: 100000;
}

div.ele-wrapper {
	display: inline-block;
}

td > .contain-file label {
	position: absolute;
	top: 0px;
	right: var(--dmargin);
}

span[contenteditable="true"] {
    display: inline-block;
    min-height: var(--select_lineheight);
    min-width: 3em;
    max-width: 50em;
    vertical-align: middle;
    line-height: initial;
    border-radius: var(--borderradius);
    box-shadow: var(--boxshadow);
    padding: var(--margin);
    overflow: hidden;
    background: var(--background);
}

span[contenteditable="true"][data-hidden="true"] {
    white-space: pre-wrap;
	max-width: 0px !important;
	min-width: 0px !important;
	max-height: 0px !important;
	min-height: 0px !important;
	box-shadow: none !important;
	border: 0px !important;
	overflow: hidden !important;
	position: absolute !important;
}

span[contenteditable="true"][aria-multiline], span[contenteditable="true"].multionfocus:focus {
    overflow : auto;
    max-height: 30ex;
    font-family: monospace;
}

span[contenteditable="true"].multionfocus {
    overflow : hidden;
    max-height: var(--select_lineheight);
}

td  span[contenteditable="true"] {
	display: flow-root;
    max-width: 30em;
    margin: var(--margin);
}

td  .contain-file span[contenteditable="true"] {
    margin-right: var(--iconpicsize);
}

div.selectlisti::after, span.selectlisti::after {
	content: '\f002';
	font-family: SymbolFont1;
	color: var(--lightcolor1);
	margin-left: var(--dmargin);
	cursor: pointer;
	line-height: 0px;
}

div.selectlists::after, span.selectlists::after {
	content: '\f07c';
	font-family: SymbolFont1;
	color: var(--lightcolor1);
	margin-left: var(--dmargin);
	cursor: pointer;
	line-height: 0px;
}

div.selectlistfi::after, span.selectlistfi::after {
	content: '\f13a';
	font-family: SymbolFont1;
	color: var(--lightcolor1);
	margin-left: -1em;
	cursor: pointer;
	line-height: 0px;
	opacity: 0.5;
}

div.selectlistfs::after, span.selectlistfs::after {
	content: '\f13a\00a0\f07c';
	font-family: SymbolFont1;
	color: var(--lightcolor1);
	margin-left: -2.5em;
	cursor: pointer;
	line-height: 0px;
}

div.selectlisti.disabled::after, span.selectlisti.disabled::after, div.selectlists.disabled::after, span.selectlists.disabled::after, div.selectlistfi.disabled::after, span.selectlistfi.disabled::after, div.selectlistfi.disabled::after, span.selectlistfi.disabled::after {
  display: none;
}

td .selectlisti span.inputi, td .selectlistfi span.input {
    padding-right: var(--iconsize);
}
	
td span.selectlisti:after, td span.selectlistfi:after  {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    line-height: var(--icon_lineheight);
    padding-right: var(--dmargin);
    margin-left: var(--dmargin);
    margin-right: var(--dmargin);
}

tr.active td span.selectlisti:after, tr.active td .selectlistfi span.input:after, tr.active div.selectlistfs::after, tr.active span.selectlistfs::after, tr.active .contain-file label:after
{
	color: var(--background);
}

td span.selectlisti > span {
    padding-right: var(--iconsize);
}

.slidervalue {
    position: relative;
	border: var(--border);
}

.slidervalue.modifyok {
	border-color: var(--modifyokbackgroundcolor);
}

.slidervalue .slider {
	position: absolute;
	width: 0.75em;
	height: 3ex;
	background: var(--bordercolor);
	transform: translateY(-50%);
	border-radius: var(--borderradius);
}

span.dpytypecolor, input.dpytypecolor {
    display: inline-block;
    color: transparent !important;

    min-width: var(--lineheight_normal);
    max-width: var(--lineheight_normal);
    min-height: var(--lineheight_normal);
    max-height: var(--lineheight_normal);

    border-radius: var(--borderradius);
    box-shadow: var(--boxshadow);
}
