#mainwindow {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: 1;

	font-size: var(--font_normal);
}

.maintop {
	display: table;
	width: 100%;
	border-bottom: var(--border);
}

#mainrow {
	display: table-row;
}

#mainrow > div {
	display: table-cell;
}

#mainright {
	text-align: right;
    padding-right: var(--qmargin);
    vertical-align: middle;
}
