div.weblet div.weblettitle {
    position: sticky;
    top: 0px;
    left: 0px;
    font-size: x-large;
	line-height: var(--titleheight);
    background: linear-gradient(to bottom, var(--background), var(--lightcolor1));
    padding: 0px var(--dmargin);
    white-space: nowrap;
    z-index: 10;
}
div.weblet div.weblettitlearea {
	display: inline;
	white-space: nowrap;
	overflow: hidden;
}

div.weblet div.weblettitleleft {
    padding-left: var(--dmargin);
}

div.weblet div.weblettitleright {
    position: absolute;
    display: inline-flex;
	right: 0px;
	height: var(--titleheight);
}

div.popupcontent > div.weblet > div.weblettitle > div.weblettitleright {
    display: none;
}

div.weblet > div.webletmain.modifyok {
	border-top: 3px solid var(--modifyokbackgroundcolor);
}

div.weblet  > div.webletmain.modifywarning {
	border-top: 3px solid var(--modifywarningbackgroundcolor);
}

div.weblet > div.webletmain.modifywrong {
	border-top: 3px solid var(--modifywrongbackgroundcolor);
}

div.weblet > div.webletmain.modifywrong.ignorewrong {
  border-top-color: transparent;
}

div.weblet > div.webletmain.modifywrong.ignorewrong .modifywrong * {
  background-color: transparent;
}

div.weblet div#buttonContainer, div.weblet div#contentContainer {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	vertical-align: top;
	margin: var(--dmargin);
}

div.webletmain.modifyok      > div#buttonContainer, div.webletmain.modifyok      > div#contentContainer,
div.webletmain.modifywarning > div#buttonContainer, div.webletmain.modifywarning > div#contentContainer,
div.webletmain.modifywrong   > div#buttonContainer, div.webletmain.modifywrong   > div#contentContainer {
    margin-top: calc(var(--dmargin) - 3px);
}


div.weblet div#buttonFrame {
	position: sticky;
	top: 0px;
	left: 0px;
	min-width: max-content;

	flex-grow: 0;

	z-index: 1;
}

div.weblet div#buttonFrame.scroll {
    border-right: solid var(--dmargin) var(--bordercolor);
}

div.weblet div#buttonFrame.scroll:hover {
	overflow: auto;
	padding-right: var(--qmargin);
	border-right: inherit;
}
}

div.weblet div#buttonContainer {
	padding-bottom: var(--dmargin);
	min-width: max-content;
}

div.weblet div#buttonContainer.mneoverflow {
	top: unset;
}

div.weblet div#buttonContainer:empty {
    display: none;
}

div.weblet div#buttonContainer input[type="button"].mobile {
    display: none;
}

div.weblet div#buttonContainer .select {
	font-family: SymbolFont1;
}

div.weblet div.weblettitle.notitleframe {
    display: none;
}

div.weblet div.weblettitle.notitle {
    background: none;
    height: 0px;
}

div.weblet div.weblettitle.notitle div.weblettitleleft {
    display: none;
}

div.weblet div.weblettitle.notitle div.weblettitlemiddle {
    display: none;
}

div.weblet div.weblettitleright > div {
    font-family: SymbolFont1;
    font-size: var(--iconfontsize);
    padding-right: var(--qmargin);
    color: var(--darkcolor1)
}	

div.weblet div#buttonContainer input[type='button'], div#buttonContainer button {
	display: block;
	position: relative;
	width: 100%;
	min-width: max-content;
	margin-bottom: var(--dmargin);
}

div.weblet div.buttonContainer .ele-wrapper span {
    line-height: var(--lineheight_normal);
    padding-right: var(--dmargin);
}

div.weblet .weblettitle div.button {
    box-shadow: none;
    background: none;
    border: 0px;
    color: var(--darkcolor1);
    font-size: var(--iconfontsize);
    line-height: var(--titleheight);
    width: auto;
}

div.weblet .weblettitle.notitle div.button {
    font-size: var(--font_normal);
    color: var(--lightcolor1);
}

div.weblet .weblettitle div.button.active {
    color: var(--titleactivecolor);
}

div.weblet div#buttonContainer div.webletbutton {
	position: relative;
	background: var(--background_transparent);
	height: 2ex;
}

div.weblet div#buttonContainer div.webletspace + .webletspace {
    display: none;
}

.fullscreen > div.weblet  {
	position : absolute;
	top: 0px;
	left: 0px;
	height : 100%;
	width : 100%;
	background-color: var(--background);
    display: flex;
    flex-direction: column;
	z-index : 300;
}

div.weblet .inputarea {
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
}

div.weblet .inputarea.fullheight {
	flex-grow: 1;
}

div.weblet .inputarea.fullheight .inputsingle:last-child {
	flex-grow: 1
}

div.weblet .inputarea + .inputarea {
	margin-top: var(--qmargin);
}

div.weblet .inputgroup {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-collapse: collapse;
}

div.weblet .inputsingle {
	position: relative;
    display: flex;
	border: var(--border);
    border-collapse: collapse;

    line-height: var(--lineheight_normal);
    white-space: nowrap;
}

div.weblet .inputsingle[aria-height]  {
	    height: calc(var(--ariaheight) * (var(--lineheight_normal) + var(--bordersize)) );
}

div.weblet .inputsingle + .inputsingle {
    border-top: 0px;
}

div.weblet .inputsingle.spacetop {
    margin-top: var(--qmargin);
    border-top: var(--border);
}

div.weblet .inputsingle > * {
	flex-grow: 0;
}

div.weblet .inputsingle :nth-child(2), div.weblet .inputsingle :nth-child(4), div.weblet .inputsingle :nth-child(6), div.weblet .inputsingle :nth-child(8) {
  flex-basis: 200%
}

div.weblet .inputsingle .ele-wrapper:last-child input, div.weblet .inputsingle .ele-wrapper:last-child span[contenteditable="true"], div.weblet .inputsingle .ele-wrapper:last-child select {
    width: calc(100% - var(--iconfontsize));
}

div.weblet .inputsingle .ele-wrapper span:empty::after {
    content: '     ';
    white-space: pre;
}

div.weblet div.contain-unit {
	display : flex;
	flex-direction: row;
}

div.weblet div.contain-unit :first-child {
	flex-grow: 1;
	width: 100%;
    padding-right: var(--dmargin);
}

div.weblet div.contain-unit :last-child {
	flex-grow: 0;
	flex-basis: 10%;
}

div.weblet .inputsinglehead {
    display: table-caption;
	border: var(--border);
	border-bottom: 0px;
    border-collapse: collapse;

    line-height: var(--lineheight_normal);
    white-space: nowrap;
    padding-left: var(--qmargin);
    font-weight: bold;
}

div.weblet .inputarea.table .inputsingle > .ele-wrapper {
    border: var(--border);
    padding-left: var(--dmargin);
    padding-right: var(--dmargin);
}

div.weblet .inputarea.table .inputsingle::after {
    content: initial;
}

div.weblet .inputarea.table .inputgroup > .inputsingle:first-child {
    font-weight: bold;
}


div.weblet .label {
    display: inline-block;
	width: 100%;
	min-width: 10em;
	text-align: right;
    padding-left: var(--qmargin);
}

div.weblet .link {
    color : var(--lightcolor1);
    cursor: pointer;
}

div.weblet div.label .label {
	text-align: unset;
	padding-left: unset;
}

div.weblet .label::after {
	content: ':';
    padding-right: var(--qmargin);
}

div.weblet .label:empty:after, div.label .label::after {
    display: none;
}

div.weblet .inputgroup + .inputgroup > .inputsingle, .inputgroup + .inputgroup > .inputsinglehead  {
    border-left: 0px;
}

div.weblet .inputsingle > .ele-wrapper {
	position: relative;
}
div.weblet .inputsingle > .ele-wrapper.fullsize {
	position: absolute;
}

div.weblet .inputsingle > .ele-wrapper.contain-span > [contenteditable="true"] {
    min-width: 15em;
    max-width: unset;
    margin-top: var(--dmargin);
    margin-bottom: var(--dmargin);
}

.popup div.weblet .inputsingle > .ele-wrapper.contain-span > [aria-multiline="true"][contenteditable="true"] {
    max-height: 30ex;
    max-width: 30em;
}
.popup div.weblet .inputsingle > .ele-wrapper.contain-span > [aria-multiline="true"][contenteditable="true"]:focus {
    max-height: 60ex;
    max-width: 50vw;
}

.popup div.weblet .mne-rte .mne-rte-editarea {
    min-height: 30ex;
}

div.weblet .inputsingle .editor {
    height: calc( 100% - var(--dmargin));
    margin: var(--dmargin);
    position: relative;
}

div.weblet .inputsingle .ele-wrapper + button, .inputsingle .ele-wrapper + input[type="button"] {
	margin-left: var(--qmargin);
}

div.weblet .inputsingle .multiheight {
	vertical-align: top;
	padding-top: var(--margin);
}

div.weblet .inputsingle::after {
    content: '';
    padding-right: var(--dmargin);
}

div.weblet .inputsingle.nomargin::after {
    content: none;
}
