div.slidercontentframe > div.weblet {
	display: flex;
    flex-direction: column;

    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

div.weblet div.webletmain {
	white-space: nowrap;
}

div.weblet > div {
	flex-grow: 0;
}

div.slidercontentframe > div.weblet > div.webletmain {
    white-space: nowrap;
    display: flex;
    flex-grow: 1;
    overflow: auto;
}

div.slidercontentframe > div.weblet.sliderauto {
	overflow: visible;
	bottom: unset;
	right: unset;
}

.draginfo div.webletmain {
	position: unset;
}

.draginfo div#weblettitle, .draginfo div#webletbutton {
	display : none;
}

div.waitframe {
	position: absolute;
	z-index: 100000;
	top: 0px;
	left : 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.3);
	font-size: var(--font_huge);
	color : var(--darkcolor1);
	display: none;
}

div.waitframe div {
	position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

div.waitframe.show {
	display: block;
}
