<table class='colorselect'>
  <tr>
    <td class="top"><input id="colorInput" class="colorselectoutput"></input></td>
    <td class="top"><div id="contentTable" class="colorselecttable"></div></td>
  </tr>
</table>
<table class="colorselectslider">
  <tr><td>#mne_lang#Rot#</td><td><div id="redSlider"    style="width:calc(255px + 0.75em)"></div></td><td><input type="text" id="redInput" size=2 /></td></tr>
  <tr><td>#mne_lang#Grün#</td><td><div id="greenSlider" style="width:calc(255px + 0.75em)"></div></td><td><input type="text" id="greenInput" size=2 /></td></tr>
  <tr><td>#mne_lang#Blau#</td><td><div id="blueSlider"  style="width:calc(255px + 0.75em)"></div></td><td><input type="text" id="blueInput" size=2 /></td></tr>
</table>
