<div class="modal-content popup_main display">
<div id="titleContainer" class="title">
  <div id="titletext" class="titlearea titleleft">tttt</div>
  <div id="titlemiddle" class="titlearea titlemiddle"></div>
  <div id="titlebutton" class="titlearea titleright"></div>
</div>
<div class="inputarea">
  <div class="inputgroup">
    <div class="inputsingle"><span id="valueLabel">Wert</span><input id="valueInput"></input></div>
  </div>
</div>
<div class="inputarea">
  <div class="inputgroup modalbutton">
      <input type="button" id="okButton" class="button" value="#mne_lang#Ok"/>
      <input type="button" id="cancelButton" class="button" value="#mne_lang#Abbrechen"/>
  </div>
</div>
</div>