<div class="inputarea">
  <div class="inputgroup">
    <div class="inputsingle"><span id="dayLabel">#mne_lang#Tag</span><input id="dayInput" size=2></input></div>
  </div>
  <div class="inputgroup">
      <div class="inputsingle">
        <span id="monthLabel">#mne_lang#Monat</span>
        <div><div id="prevButton" class="button">&#xf053;</div>
        <select id="monthInput">
          <option value="0">#mne_lang#Januar</option>
          <option value="1">#mne_lang#Februar</option>
          <option value="2">#mne_lang#März</option>
          <option value="3">#mne_lang#April</option>
          <option value="4">#mne_lang#Mai</option>
          <option value="5">#mne_lang#Juni</option>
          <option value="6">#mne_lang#Juli</option>
          <option value="7">#mne_lang#August</option>
          <option value="8">#mne_lang#September</option>
          <option value="9">#mne_lang#Oktober</option>
          <option value="10">#mne_lang#November</option>
          <option value="11">#mne_lang#Dezember</option>
        </select>
        <div id="nextButton" class="button">&#xf054;</div></div>
    </div>
  </div>
  <div class="inputgroup">
      <div class="inputsingle"><span id="yearLabel">#mne_lang#Jahr</span><input id="yearInput" size=4></input></div>
  </div>
</div>
