<input type="hidden" id='specific_nameInput'/>
<input type="hidden" id='ownernameInput'/>
<input type="hidden" id='idInput'/>
<span id="textInput" class="hidden ele-wrapper" data-hidden=true aria-multiline=true></span>
<div class="inputarea fullheight">
  <div class="inputgroup">
    <div class=inputsingle><span id="schemaLabel"></span><input id="schemaInput" /></div>
    <div class=inputsingle><span id="fullnameLabel"></span><input id="fullnameInput"/></div>
    <div class=inputsingle><span id="rettypeLabel"></span><input id="rettypeInput"/></div>
    <div class=inputsingle><span id="asownerLabel"></span><input type="checkbox" id="asownerInput"/></div>
    <div class=inputsingle><span id="ownernameLabel"></span><span id="ownernameOutput"></span></div>
    <div class=inputsingle><span id="provolatileLabel"></span><select id="provolatileInput"></select></div>
    <div class=inputsingle><span class='multiheight' id="textLabel"></span><div id="textEdit" aria-multiline="true"></div></div>
   </div>
</div>
