<input type="hidden" id="schemaInput" /><input type="hidden" id="tableInput" /><input type="hidden" id="rschemaInput" /><input type="hidden" id="rtableInput" />
<div class="inputarea">
  <div class="inputgroup">
    <div class=inputsingle><span class="label" id="nameLabel"></span><span id="nameInput"></span></div>
    <div class=inputsingle><span class="label" id="text_deLabel"></span><span id="text_deInput"></span></div>
    <div class=inputsingle><span class="label" id="text_enLabel"></span><span id="text_enInput"></span></div>
    <div class=inputsingle><span class="label" id="customLabel"></span><input type="checkbox" id="customInput"/></div>
    <div class=inputsingle><span class="label" id="schemaLabel"></span><span id="schemaOutput"></span></div>
    <div class=inputsingle><span class="label" id="tableLabel"></span><span  id="tableOutput"></span></div>
    <div class=inputsingle><span class="label" id="rschemaLabel"></span><span id="rschemaOutput" ></span></div>
    <div class=inputsingle><span class="label" id="rtableLabel"></span><span  id="rtableOutput"></span></div>
    <div class=inputsingle><span class="label">columns</span><span id="columnInput"></span></div>
    <div class=inputsingle><span class="label">reference columns</span><span id="rcolumnInput" ></span></div>
   </div>
</div>
<div class="inputarea two">
    <div id="tablecolsTable"></div>
    <div id="rtablecolsTable"></div>
</div>
