<input type='hidden' id="joindefidInput" />
<input type='hidden' id="fcolsInput" />
<input type='hidden' id="tcolsInput" />

<div class="inputarea">
  <div class="inputgroup">
            <div class=inputsingle><span class="label" id="typLabel"></span><select id="typInput"></select></div>
            <div class=inputsingle><span class="label" id="fschemaLabel"></span><input id="fschemaInput" readonly="readonly"/></div>
            <div class=inputsingle><span class="label" id="ftabLabel"></span><input id="ftabInput" readonly="readonly"/></div>
            <div class=inputsingle><span class="label" id="tschemaLabel"></span><input id="tschemaInput" readonly="readonly"/></div>
            <div class=inputsingle><span class="label" id="ttabLabel"></span><input id="ttabInput" readonly="readonly"/></div>
            <div class=inputsingle><span class="label multiheight" id="opLabel"></span><input id="opInput"/><div class='ele-wrapper'><div id="contentTable"></div></div></div>
   </div>
</div>
