<input type="hidden" id="refidInput" />
<input type="hidden" id="letteridInput" />
<input type="hidden" id="refInput" />
<div class="inputarea">
  <div class="inputgroup">
	<div class=inputsingle><span id="languageLabel"></span><select id="languageInput"></select></div>
	<div class=inputsingle><span id="nameLabel"></span><input id='nameInput' type="text" /></div>
	<div class=inputsingle><span id="salutationLabel"></span><input id='salutationInput' type="text" /></div>
	<div class=inputsingle><span id="fromdateLabel"></span><input id='fromdateInput' type="text" /></div>
	<div class=inputsingle><span id="sendLabel"></span><span id='sendOutput'></span></div>
  </div>
  <div class="inputgroup">
    <div class=inputsingle><span id="lettertypLabel"></span><select id="lettertypInput" ></select></div>
    <div class=inputsingle><span id="refnameLabel"></span><span id="refnameOutput"></span></div>
    <div class=inputsingle><span id="subjectLabel"></span><input id='subjectInput' type="text" /></div>
    <div class=inputsingle><span id="todateLabel"></span><input id='todateInput' type="text" /></div>
    <div class=inputsingle><span>&nbsp;</span><span></span></div>
   </div>
</div>
<div class="inputarea fullheight">
  <div class="inputgroup">
    <div class=inputsingle><span id="editor_label" class="label multiheight">#mne_lang#Text#</span><span id="dataEditor" aria-multiline="true"></span></div>
   </div>
</div>
