div.weblet.weblet-allg-etc-color #colorOutput {
	box-shadow: var(--boxshadow);
}

div.weblet.weblet-allg-etc-color .colorselecttable td {
    line-height: 0px;
    height: auto;
}

div.weblet.weblet-allg-etc-color .colorselecttable div.colorshow {
	position: relative;
	width: 2em;
	height: 3ex;
}

div.weblet.weblet-allg-etc-color .colorselecttable table {
	margin-left: auto;
}

div.weblet.weblet-allg-etc-color table.colorselect {
	width: 100%;
	margin: var(--dmargin);
}
div.weblet.weblet-allg-etc-color table.colorselect td {
	padding: var(--dmargin);
}